* {
  margin: 0;
  padding: 0;
}


body {
  background: #29282D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.42;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

.main-page-wrapper {
  background: center top/contain no-repeat url(../img/lion_header.png)
  ,right 3px bottom 280px no-repeat url(../img/lion_bottom.png);
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.header {
  height: 120px;
  position: relative;
  margin-bottom: 130px;
}

.logo {
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 0px;
}

.menu {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 256px;
}

.menu__list {
  font-size: 14px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 51px;
}

/*.menu__item--active .menu__link {
  color: #D3A557;
}

.menu__item--active .menu__link:hover {
  color: #fff;
}
*/
.menu__item:last-child {
  margin: 0;
}

.menu__link:hover {
  color: #D3A557;
}

.conatcts {
  display: inline-block;
  position: absolute;
  top: 19px;
  right: 0px;
  font-style: normal;
  text-align: right;
}

.contacts__decr {
  font-size: 11px;
  color: #9A9A9A;
}

.contacts__phone {
  font-size: 26px;
}

.contacts__dropdown-title {
  font-size: 13px;
  color: #D3A557;
  text-decoration: underline;
}

.hero {
  margin-bottom: 184px;
}

.hero__text-section {
  width: 505px;
}

.hero__title {
  font-size: 58px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 25px;
}

.hero__subtitle {
  font-size: 18px;
  color: #D3A557;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  background: #DFB56D;
  border-radius: 4px;
  color: #fff;
  padding: 17px 38px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 0px 8px 35px 0px rgba(223, 181, 109, 0.35);
}

.btn--color--orange:hover {
  background: #D3A557;
  /*box-shadow: 0px 8px 35px 0px rgba(223, 181, 109, 0.35);*/
}

.btn--color--dark-grey {
  background: #2B2B2B;
}

.btn--color--dark-grey:hover {
  background: #D3A557;
}

.btn--hover--dark-grey:hover {
  background: #2B2B2B;
}

.section {
  margin-bottom: 110px;
}

.section.section__about {
  margin-bottom: 57px;
}

.section__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 51px;
}

.offers__item {
  display: inline-block;
  min-height: 450px;
  background: #fff;
  color: #000;
  border-radius: 4px;
  margin-right: 22px;
  width: 362px;
  overflow: hidden;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__header {
  min-height: 145px;
  position: relative;
}

.offers__header:before {
  content: "";
  width: 265px;
  height: 265px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -140px;
  right: -90px;
  background: #ccc;
}

.offers__item--theme--grey .offers__header:before {
  background: #a5a5a4;
}

.offers__item--theme--blue .offers__header:before {
  background: #556180;
}

.offers__item--theme--gold .offers__header:before {
  background: #978455;
}

.offers__header-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*margin-left: -44px;
  margin-top: -32px;*/
}

.offers__content {
  padding: 30px 20px;
}

.offers__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 18px;
}

.offers__prices-cell {
  display: inline-block;
  width: 155px;
  margin-right: 1px;
}

.offers__prices-cell:last-child {
  margin-right: 0;
}

.offers__price {
  font-size: 36px;
}

.offers__price-descr {
  color: #666;
}

.offers__prices {
  margin-bottom: 50px;
}

.offers__btn-wrap {
  text-align: center;
}

.news {
  margin-bottom: 57px;
}

.news__item {
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 20px;
}

.news__item:last-child {
  margin-right: 0;
}

.news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .8;
  margin-right: 5px;
}

.news__text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 30px;
  min-height: 160px;
}

.news__date {
  display: block;
  text-align: top;
  font-size: 14px;
  margin-bottom: 15px;
}

.news__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 6px;
}

.paginator {
  text-align: center;
}

.paginator__display {
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
}

.paginator__list {
  display: inline-block;
  vertical-align: middle;
}

.paginator__item {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
}

/*.paginator__item:hover {
  font-size: 20px;
}*/

.paginator__item--active .paginator__link {
  background: #353439;
  margin: 0;
}

.paginator__link {
  vertical-align: middle;
  display: inline-block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  line-height: 32px;
}


.about::before,
.about__descr {
  display: inline-block;
}

.about::before {
  content: "";
  width: 490px;
  height: 500px;
  background: url(../img/chess.png) center center / cover no-repeat;
}

.about__descr {
  background: #202123;
  padding: 70px 81px;
  height: 455px;
  width: 785px;
  margin-left: -145px;
  border-radius: 5px;
}

.about__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 37px;
}

.about__descr-text {
  margin-bottom: 71px;
  line-height: 27px;
  min-height: 108px;
}

.about__descr-text p {
  margin-bottom: 20px;
}

.about__descr-text p:last-child {
  margin-bottom: 0px;
}

.footer-container__content {
  border-top: 1px solid #353535;
}

.footer {
  margin-top: 30px;
  position: relative;
  height: 150px;
}

.contacts__decr {
  font-size: 11px;
}

.social {
  top: 25px;
  right: 267px;
  position: absolute;
}

.social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.social__item--icon--teleg .social__link {
  background-image: url(../img/icons/telegram_logo.png);
}

.social__item--icon--teleg .social__link:hover {
  background-image: url(../img/icons/telegram_logo_hover.png);
}

.social__item--icon--vk .social__link {
  background-image: url(../img/icons/vk_logo.png);
}

.social__item--icon--vk .social__link:hover {
  background-image: url(../img/icons/vk_logo_hover.png);
}

.social__item--icon--fb .social__link {
  background-image: url(../img/icons/fb_logo.png);
}

.social__item--icon--fb .social__link:hover {
  background-image: url(../img/icons/fb_logo_hover.png);
}

.social__item--icon--insta .social__link {
  background-image: url(../img/icons/insta_logo.png);
}

.social__item--icon--insta .social__link:hover {
  background-image: url(../img/icons/insta_logo_hover.png);
}